<!-- <p>grapesjs works!</p> -->
<div class="panel__top">
    <div class="panel__basic-actions">
      
    </div>
   
  </div>
  
  <div class="panel__top">
    <div class="panel__basic-actions"></div>
    <div class="panel__switcher"></div>
  </div>
  
  <div class="panel__right">
    <div class="layers-container"></div>
    <div class="styles-container"></div>
  </div>
  
  
  
  <div id="gjs">
    <h1>Hello World Component!</h1>
   
  </div>
  <!-- <div id="blocks"></div> -->
  <div id="assets"></div>
  <div id="panels">
  
  
  </div>
